<ion-view view-title="CHOOSING">

<!-- Content of the about tab -->

  <ion-content>
    <div class="card">
      <p class="padding Card-content">This site aims to help you make the best choices for you. Knowing "the facts" makes it easier to make choices, but working out what "the facts" are is not always easy.
      </p>
    </div >
    <ion-list>
      <ion-item class="item-icon-right item-balanced" href="#/tab/about/usInfo">
        USEFUL INFORMATION
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
      <ion-item class="item-icon-right item-balanced" href="#/tab/about/center">
        LOCATION OF HELP CENTER
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
      <ion-item class="item-icon-right item-balanced" href="#/tab/about/FAQ">
        FAQ
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
      <ion-item class="item-icon-right item-balanced" href="#/tab/about/rating">
        WHAT THE RATINGS MEAN
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
