<ion-view view-title="App Guide">

  <!-- Back button -->
  <ion-nav-buttons side="left">
    <a href="#/tab/difficulties" class="button button-icon icon ion-ios-arrow-back"></a>
  </ion-nav-buttons>

  <!-- Content of the App Guide -->
  <ion-content class="padding">
   <ion-list class="list-inset">
     <ion-item class="item-text-wrap">
       <h1 class="appguide-title">Aims</h1>
   		  <hr class="appguide-hr" />

        <p>This site aims to make people make informed choices about different treatment options.</p>
        <p>It does not tell people what to do, it simply says what scientists have found out so far
      for particular emotional and behavioural difficulties.</p>

      <h1 class="appguide-title">Ways of Helping</h1>
      <hr class="appguide-hr" />

        <p>This site tells you about ways of helping that have been tested by scientists.</p>
        <p>We have kept the descriptions of different types of help very short.</p>
        <p>You can find out more about the different types of help mentioned here by asking
       the person who is offering to help you or by searching the internet.</p>

       <h1 class="appguide-title">Things to Bear in Mind</h1>
       <hr class="appguide-hr" />

        <p>Never be afraid to ask those people offering to help you why they are suggesting
        particular ways of helping, and what other options there are.</p>


      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
