  <ion-view view-title="CHOOSING">

    <!-- Back button -->
    <ion-nav-buttons side="left">
      <a href="#/tab/difficulties" class="button button-icon icon ion-ios-arrow-back"></a>
    </ion-nav-buttons>

    <!-- Difficulties details template -->
    <ion-content class="padding has-header">
      <ion-list class="list-inset">
        <ion-item class="item-text-wrap" ng-repeat="item in difficulties | filter: {id: whichdifficulty}">
          <h2 class="difficulty">{{item.name | uppercase}}</h2><br/>
          <p>{{item.description}}</p><br/>
          <h2 class="title"> HELP </h2><br/>
            <ul>
              <li ng-show="item.help1">{{item.help1}} <img ng-show="item.rating1" class="rating" src="img/{{item.rating1}}.png"></li>
              <p ng-show="item.help1desc" align="justify">{{item.help1desc}}</p><br/>
              <li ng-show="item.help2">{{item.help2}} <img ng-show="item.rating2" class="rating" src="img/{{item.rating2}}.png"></li>
              <p ng-show="item.help2desc" align="justify">{{item.help2desc}}</p><br/>
              <li ng-show="item.help3">{{item.help3}} <img ng-show="item.rating3" class="rating" src="img/{{item.rating3}}.png"></li>
              <p ng-show="item.help3desc" align="justify">{{item.help3desc}}</p><br/>
              <li ng-show="item.help4">{{item.help4}} <img ng-show="item.rating4" class="rating" src="img/{{item.rating4}}.png"></li>
              <p ng-show="item.help4desc" align="justify">{{item.help4desc}}</p><br/>
              <li ng-show="item.help5">{{item.help5}} <img ng-show="item.rating5" class="rating" src="img/{{item.rating5}}.png" ></li>
              <p ng-show="item.help5desc" align="justify">{{item.help5desc}}</p><br/>
              <li ng-show="item.help6">{{item.help6}} <img ng-show="item.rating6" class="rating" src="img/{{item.rating6}}.png"></li>
              <p ng-show="item.help6desc" align="justify">{{item.help6desc}} </p><br/>
              <li ng-show="item.help7">{{item.help7}} <img ng-show="item.rating7" class="rating" src="img/{{item.rating7}}.png"></li>
              <p ng-show="item.help7desc" align="justify">{{item.help7desc}}</p><br/>
            </ul>
        </ion-item>
      </ion-list>
    </ion-content>
</ion-view>
