
<ion-view view-title="CHOOSING">

  <!-- Subheader - Search field -->
  <div class="bar bar-subheader item-input-inset bar-balanced has-header">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon-white"></i>
        <input type="search" ng-model="query" placeholder="Search symptom">
      </label>
  </div>

  <!-- Difficulties tab content -->
  <ion-content class=" has-subheader">
    <ion-list>
      <ion-item  class="item item-text-wrap card padding" ng-repeat='item in difficulties | filter: query'>
        <h2 class="difficulty">{{item.name | uppercase}}</h2><br/>
        <p class="content">{{item.description}}</p><br/>
        <div align="right">
          <a ng-href="#/tab/difficulties/{{item.id}}"><button class="button button-small button-balanced">See more</button></a>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
