<!-- Settings content --> 
<ion-popover-view>
  <ion-content>
    <div class="list">
      <a class="item" href="#/feedback" ng-click="popover.hide()"><i class="icon ion-chatbox padding"></i>Feedback</a>
      <a class="item" href="#/appguide" ng-click="popover.hide()"><i class="icon ion-help-circled padding"></i>App Guide</a>
    </div>
  </ion-content>
</ion-popover-view>
