
<!-- Tabs sructure -->

<ion-nav-view name="settings"></ion-nav-view>
<ion-tabs class="tabs-striped tabs-balanced subheader">

  <!-- Difficulties tab -->
  <ion-tab title="Difficulty" href="#/tab/difficulties">
    <ion-nav-view name="difficulties-tab"></ion-nav-view>
  </ion-tab>

  <!-- Help tab -->
  <ion-tab title="Help" href="#/tab/help">
    <ion-nav-view name="help-tab"></ion-nav-view>
  </ion-tab>

  <!-- About tab-->
  <ion-tab title="About" href="#/tab/about">
    <ion-nav-view name="about-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>
